.input-material-custom
{
    border:1px solid red;
}

.MuiFormLabel-root-16.MuiInputLabel-root-5.MuiInputLabel-formControl-10.MuiInputLabel-animated-13.MuiInputLabel-outlined-15
{
    margin-bottom: 17px;
    top: -5px;
    position: absolute;
}

.MuiInputBase-input-46.MuiOutlinedInput-input-31
{
    height: 9px;
}