.row_languages
{
    padding: 0px 81px 0px 81px;
    .title
    {
        color: #707070;
        font-size:15px;
        letter-spacing: -1px;
        font-weight: 500;
    }
    .row_flag 
    {
        cursor: pointer;
        .non-selected
        {
            opacity: .3;
        }
        .selected
        {
            opacity: none;
        }
    }
    
}